</body>

    <footer>
        <!-- social media icons -->
        <ul class="footer_SocialMediaIcons">
            <li>
                <a href="https://www.facebook.com" target="_blank" class="foot_facebook">facebook</a>
            </li>
            <li>
                <a href="https://www.instagram.com" target="_blank" class="foot_instagram">instagram</a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank" class="foot_twitter">twitter</a>
            </li>
            <li>
                <a href="https://www.youtube.com" target="_blank" class="foot_youtube">youtube</a>
            </li>
        </ul>
        <!-- // social media icons -->

        <!-- Footer links -->
        <ul class="foot_menu _footer">
        
            <li><a href="" class="About">About</a></li>
            <li class="bar">|</li>
            <li><a href="" class="Contact_Us">Contact Us</a></li>
            <li class="bar">|</li>
            <li><a href="" class="Privacy">Privacy</a></li>
            <li class="bar">|</li>
            <li><a href="" class="Acknowledgements">Acknowledgements</a></li>
            <li class="bar">|</li>
        </ul>
        <!-- //Footer links -->

    <!-- copyright -->
        <p class="copyright">ⓒ WITLY Inc.</p>
        <p class="foot_logo">
            <span class="icon_foot_logo">WITLY</span>
        </p>
      <!-- //copyright  -->
    </footer>

</html>