</body>

    <footer>
        <!-- social media icons -->
        <div class="footer_overall">
        <ul class="footer_SocialMediaIcons">
            <li>
                <a href="https://www.facebook.com" aria-label="Explore our Facebook page">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                    width="3em" 
                    height="3em" 
                    viewBox="0 0 24 24">
                    <g fill="none" 
                    stroke="currentColor" stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></g>
                </svg>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com" aria-label="Explore our Instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                    width="3em" 
                    height="3em" 
                    viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"/>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8A4 4 0 0 1 16 11.37z"/>
                        <path d="M17.5 6.5h.01"/></g>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://twitter.com" aria-label="Explore our Twitter">
                <svg xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                aria-hidden="true" role="img" 
                width="3em" 
                height="3em" 
                preserveAspectRatio="xMidYMid meet" 
                viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53a4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"/></g>
                </svg>
            </a>
            </li>
            <li>
                <a href="https://www.youtube.com" aria-label="Explore our Youtube channel">
                <svg xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                aria-hidden="true" role="img" 
                width="3em" 
                height="3em" 
                preserveAspectRatio="xMidYMid meet" 
                viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" 
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2a29 29 0 0 0 .46-5.25a29 29 0 0 0-.46-5.33z"/>
                    <path d="M9.75 15.02l5.75-3.27l-5.75-3.27v6.54z"/></g>
                </svg>
                </a>
            </li>
        </ul>
        <!-- // social media icons -->

        <!-- Footer links -->
        <ul class="foot_menu_footer">
        
            <li><a href="/privacy" class="Privacy">Privacy</a></li>
            <li class="bar">|</li>
            <li><a href="/acknowledgements" class="Acknowledgements">Acknowledgements</a></li>
        </ul>
        <!-- //Footer links -->

    <!-- copyright -->
        <p class="copyright">ⓒ WITLY Inc.</p>
        <p class="foot_logo">
            <span class="icon_foot_logo">WITLY</span>
        </p>
      <!-- //copyright  -->
    </div>
    </footer>

</html>