<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title>Women in Tech</title>
            <meta name="description" content="Showcasing women in tech." />
            <meta name="author" content="your name" />
            <link rel="stylesheet" href="/stylesheets/styles.css" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <div id="header">
            <div class="header_inner">
                  <a href="/"> 
                        <img class="logo" src="images/Logo.png" alt="logo">
                  </a>
                  
                  <ul class="lnb">
                        <li class="m01 "><a href="/about" class="NPI=a:daily,g:en_en">About</a>
                        </li>
                        <li class="m02 "><a href="/contact" class="NPI=a:genre,g:en_en">Contact Us</a></li>
                  </ul>

                  <div class="Navbar" id="TopNavbar">
                        <% if (user !== null) { %>
                              <p>You are logged in as <%= user.username %></p>
                              <% } %>
                        <% if (user !== null) { %>
                        <a href="/profile" class="publish"> 
                              <span class="material-icons">menu_book</span>Publish</a>
                        <a href="/logout" class="log_in_out">Logout</a>
                        <% } else { %>
                        <a href="/login" class="log_in_out">Login</a>
                        <a href="/create-account" class="create-account_button">Signup</a>
                        <% } %>
                        </div>
            </div>

    </head>
