<%- include("../partials/_head") -%>

<div class="column onlyChild">
    <h1>About WITLY</h1>
<p><strong>   </strong></p>

<div id="content">

    <div class="aboutus">
        <h2>About WITLY</h2>
        <p>
            <strong>WITLY's Story.</strong><br>
            Women in Technology (WiT) is one of Australia’s biggest communities that support women<br>
            in across all fields of science and technology. As a not-for-profit organisation,<br>
            we exist solely to create opportunities for our members and provide a dynamic platform<br>
            to empower women from all disciplines to unlock their career potential.<br>
            We’re available anywhere, anytime, and always for free.
        </p>
        <h3 class="tit_contacts">Contacts</h3>
        <p>
            <a href="">witlyip@WITLY.com</a> for IP business, rights, and licensing inquiries.<br>
            <a href="">witlyads@WITLY.com</a> for advertising and partnership opportunities.<br>
            <a href="">witlypress@WITLY.com</a> for press/media inquiries.
        </p>
    </div>
</div>    

<%- include("../partials/_footer") -%>

