<%- include("../partials/_head") -%>
<body>
  
        <img class="about_image" src="images/Group_photo.PNG" id="aboutimage" alt="about image">

        <div class="aboutus">
            <h2>About WITLY</h2>
            <p>
                <strong>WITLY's Story.</strong><br>
                Women in Technology (WITLY) is one of Australia’s biggest communities that support women in across all fields of science and technology. As a not-for-profit organisation, we exist solely to create opportunities for our members and provide a dynamic platform to empower women from all disciplines to unlock their career potential. We’re available anywhere, anytime, and always for free.
            </p>
            <h3 class="tit_contacts">Contacts</h3>
            <p>
                <a href="">witlyip@WITLY.com</a> for IP business, rights, and licensing inquiries.<br>
                <a href="">witlyads@WITLY.com</a> for advertising and partnership opportunities.<br>
                <a href="">witlypress@WITLY.com</a> for press/media inquiries.
            </p>
        </div>
</body>


<%- include("../partials/_footer") -%>

