<%- include("../partials/_head") -%>

<div class="terms_area on">	
    <div class="container3">
        <div class="akn_pg_image_container">
        <img class="akn_pg_image" src="images/Group_photo2.jpg" alt="about image">
    <div class="center_text">
        <h2>Acknowledgments</h2>
        <p><strong>To all our Contributers</strong></p>
        <p>We would like to thank all our users for contributing stories to our community.</p>
    </div>
</div> 

<%- include("../partials/_footer") -%>
