<%- include("../partials/_head") -%>

        <main>
            <div id="title">
               <h1><span class="highlighted">Connect</span> with me today</h1> 
            </div>
        <section class="icon-center">
            <div class="container">
                <a href="https://au.linkedin.com/in/djuarli-taylor">
                    <img src="images/linkedin_icon.png">
                </a>
                <p>Lets connect on Linked In</p>
            </div>
       <div class="container">
        <a href="https://www.facebook.com/public/Djuarli-Taylor">
            <img src="images/Facebook_icon.png">
        </a>
        <p>Lets connect on Facebook</p>
       </div>
    </section>
        <form action="https://formspree.io/f/mjvjypoo" method="POST">
                    <div class="form-item">
                <input type="text" id="name" name="name" placeholder="Your name*">
                    </div>
                    <div class="form-item">
                <input type="email" id="mail" name="email" placeholder="Your email*">
                </div>
                <div class="form-item">
                <input type="email" id="subject" name="subject" placeholder="Your subject*">
                    </div>
                    <div class="form-item">
                <textarea id="message" name="message" placeholder="Your message*"></textarea>
                    </div>
                    <div class="form-item">
                        <button type ="submit">Submit message</button>
                    </div>
                </form>
            </body>
        </main>
    </body>
</html>

<!-- Tried responsive web design - couldn't work out how to fix resizing issues -->