<%- include("../partials/_head") -%>
<div id="container" class="bg">
      <div id="content" class="ct_box">
          <div class="cont_box2">
              <h2 class="tit">Sign Up</h2>
              <div class="inner_wrap">
                  <div class="sign_up_area">
                        <form action="/create-account" method="POST">
                              <div>
                                    <h3 id="emailAreaHeader" class="sub_tit">EMAIL ADDRESS*
                                    </h3>
                                    <div id="emailArea" class="input_area _inputArea">
                                        <label for="email" class="placeholder _placeholder" style="display: none;"></label>
                                        <input type="text" name="username" id="email" class="input_box _email" maxlength="64" placeholder="Enter Email address">
                                    </div>
                              <div>
                                    <h3 class="sub_tit">PASSWORD *</h3>
                                    <div class="input_area _inputArea">
                                        <label for="pw" class="placeholder _placeholder" style="display: none;"></label>
                                        <input type="password" name="password" id="pw" class="input_box _pw" maxlength="16" placeholder="Enter Password (6-16 characters)">
                              </div>
                              <p class="agree_txt">By signing up, I agree to the <a href="" target="_blank">Terms of Use</a> and <a href="" target="_blank">Privacy Policy</a> of WITLY</p>
                  
  
                      <input class="btn_type9" type="submit" value="Sign up NOW" ></a>
                        </div>
                         </div>

                        
                        </form>
                          
            
<%- include("../partials/_footer") -%>