<%- include("../partials/_head") -%>
<div id="publish-title">
    <h1>Create a new profile</h1>
</div>
<div class="instructional-text">
    <p>Contribute to our women in technology community by publishing a story on a woman who inspires you!</p>
</div>

<form action="/profile" method="POST" enctype="multipart/form-data">
    <div class="form-item">
        <input name="name" type="text" placeholder="What is their name?"/>
        <br>
        <input name="tagline" type="text" placeholder="What is their job role?..."/>
        <br>
        <textarea name="bio" placeholder="Tell us their story..."></textarea>
        <br>
        <input name="photo" type="file" />
        <br>
        <input type="submit" value="Create" />
    </div>
</form>




<%- include("../partials/_footer") -%>