<%- include("../partials/_head") -%>

<div class="terms_area on">	
    <h2>WITLY PRIVACY POLICY</h2>
        <p><strong>Our commitment</strong></p>
        <p>Women in Technology takes your privacy seriously and is committed to protecting the privacy and personal information of all of its members, donors, supporters, sponsors, contractors, volunteers and staff.</p>
        <p>This Privacy Policy represents how the Organisation manages your personal information in accordance with the Privacy Act 1988 (Cth) (Privacy Act). Our Privacy Policy seeks to safeguard the privacy of your personal information in accordance with the Australian Privacy Principles (APPs) contained within the Privacy Act. This Privacy Policy sets out the kind of information we hold and how we collect, hold, use and disclose that information (including personal and sensitive information, which includes health information).</p>
        <p>This Privacy Policy may be amended or revised at any time. The revised Privacy Policy will take effect when it is uploaded on our website. This Privacy Policy represents the latest version of the Privacy Policy.</p>
        <p>More information about the privacy provisions can be obtained by calling the Office of the Information Commissioner (OIC) on (07) 3234 7373 or 1800 642 753 or by visiting <a href="http://www.oaic.gov.au">www.oaic.gov.au</a>.</p>
</div>     

<%- include("../partials/_footer") -%>